<div class="mt-4 mb-3">
	<div class="search-field">
		<twig:atoms:Input type="text" id="" name="" placeholder="Rechercher un membre"/>
	</div>

	<div class="d-flex">
		<twig:organisms:DropdownType text="Type"/>
		<twig:organisms:DropdownConnexion text="Connexion"/>
	</div>

</div>

<div class="mt-4">
	<table class="w-100 .table-responsive">
		<twig:organisms:TableHead/>
		<tbody>
			{% for member in members %}
				<tr class='color-bg-white'>
					<td class="align-top">
						<div>
							<twig:atoms:Text tag="span" text="{{member.image}}"/>
							<twig:atoms:Text tag="span" text="{{member.nom}}"/>
						</div>
					</td>
					<td class="align-top">
						<twig:atoms:Text tag="p" text="{{member.naissance}}"/>
					</td>
					<td class="align-top">
						{% for equipe in member.equipes %}
							{% if equipe.role != "" %}
								<div class="d-flex">
									{% set color = (equipe.role == "Staff") ? "color-blue" : "color-grey" %}
									<twig:atoms:Text class="pe-1 {{color}}" tag="p" text="{{equipe.role}}"/>
									<twig:atoms:Text tag="p" text="{{equipe.team}}"/>
								</div>
							{% endif %}
							{% if equipe.role == "" %}
								<div class='mb-3'>
									<twig:atoms:Text class="mb-0 color-red" tag="p" text="{{equipe.team}}"/>
									<twig:atoms:Text tag="a" href='#' class='color-blue' text="Affecter à une équipe"/>
								</div>
							{% endif %}
						{% endfor %}
					</td>
					<td class="align-top">
						{% if member.connexion != "" %}
							<twig:atoms:Text tag="p" text="{{member.connexion}}"/>
						{% else %}
							<twig:atoms:Text class='mb-0' tag="p" text="Jamais connecté"/>
							<twig:atoms:Text tag="a" href='#' class='color-blue' text="Renvoyer l'invitation"/>
						{% endif %}
					</td>
					<td class="align-top">
						<twig:atoms:Text tag="span" text="{{member.contacter}}"/>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
